* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
    color: #222;
    font-weight: 100;
}

html {

 }

 .clearfix {
     display: block;
     clear: both;
 }

 h1 {
     text-align: center;`
     font-size: 32px;
     margin: 70px 0 40px 0;
     font-weight: 500;
 }
 
 body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
 }

.site-header {
    min-height: 290px;
    background: url('../images/header.jpg');
    background-size: cover;
    background-position: 50% 30%;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
}

.site-header:hover {
        transition: all ease 0.5s;
        box-shadow: 0 0 30px rgba(0,0,0,0.8);
        
}

.site-header2 {
    min-height: 290px;
    background: url('../images/header2.jpg');
    background-size: cover;
    background-position: 50% 30%;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
}

.site-header2:hover {
        box-shadow: 0 0 30px rgba(0,0,0,0.8);
        transition: all ease 0.5s;
}

.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}


.podzagolovok {
    font-size: 24px;
    text-align: center;
    margin: 20px 0 20px 0;
    font-weight: 300;
}

.span-bold {
    font-weight: bold;
}

/*___________________________________*/

/*.btn {
    color: #fff;
    border: 1px solid 0; 
    border-radius: 50px;
    background: #00cc2c; 
    padding: 15px 40px;
    text-decoration: none;
    font-size: 18px;
    transition: all ease 0.5s;
    
}*/

.btn {
    color: #fff;
    border: 1px solid 0; 
    background: #3075f3; 
    padding: 15px 40px;
    text-decoration: none;
    font-size: 18px;
    transition: all ease 0.5s;
}

.btn:hover {
    background-color: #1f4390; 
    box-shadow: 0 0 40px rgba(0,0,0,0.3);
}


.instr {
    color: #000;
    cursor: pointer;
    font-size: 14px;
}

.instr:hover {
    color: #ee7777;
    text-decoration: underline;
}

/*___________________________________*/

.header {
    background-image: url(site-1.jpg);
    background-color: #3a7dfd;
    background-image: linear-gradient(-147deg, #3075f3 0%, #1f4390 100%);
    min-height: 330px;
    color: #fff;
    padding: 0 0 30px 0;
}
.header-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.header-main__subtitle {
    font-size: 18px;
    font-weight: 700;
    padding: 75px 0 0 0;
}

.header-main__logo {
    text-align: center;
    padding: 25px 0 0 0;
}

.header-main__title {
    font-size: 38px;
    font-weight: 700;
    padding: 25px 0 0 0;
    color: #fff;
}
.header-main__description {
    font-size: 16px;
    font-weight: 300;
    padding: 20px 0 0 0;
    color: #fff;
}

.header-main__social {
    padding: 35px 0 0px 0;
    display: flex;
    align-self: center;
}

.header-main__social a {
    padding: 0 8px;
}



main {

}

.nav {
    font-size: 12px;
    text-decoration: none;
}

.nav:hover {
    text-decoration: underline;
}

.nav2 {
    font-size: 12px;
    text-decoration: none;
    background-color: #fff;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1), 0 6px 30px 0 rgba(0, 0, 0, 0.15);
}

.question {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

.answer {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
/*    background-color: #e7e7e7;*/
    text-align: center;
}

.answer li {
    background: #fff;
    margin: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.answer li img {
    width: 100%;
}

.answer li:hover {
/*    background: #cecece;*/
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}

/*.answer li:active{
    background: #8b8b8b
}*/

.answer li img {
    pointer-events: none;
}

.result {
    padding: 30px 0;
    font-size: 18px;
    line-height: 150%;
}

.result-img {
    max-width: 600px;
    display: block;
    margin: 10px auto;
}

.reload-button {
/*    display: block;
    margin: 60px auto;
    border-radius: 50px;
    padding: 10px 25px;
    min-width: 200px;
    text-align: center;
    cursor: pointer;
    color: #fff; 
    background: #00cc2c; 
    padding: 15px 40px;
    text-decoration: none;
    font-size: 18px;
    transition: all ease 0.5s;*/
    
    cursor: pointer;
    min-width: 200px;
    margin: 60px auto;
    display: block;
    text-align: center;
    color: #fff;
    border: 1px solid 0; 
    background: #3075f3; 
    padding: 15px 40px;
    text-decoration: none;
    font-size: 18px;
    transition: all ease 0.5s;
}

.reload-button:hover {
    background-color: #1f4390; 
    box-shadow: 0 0 40px rgba(0,0,0,0.3);
}

.block-cover {
    
    padding: 10px;
    text-align: center;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    transition: all ease 1s;
}

a .block-cover {
    text-decoration: none;
}

a .block-cover:hover {

    background: #1f4390;
}

.block-cover img{
    max-width: 100%;
}

.block-25 {
    float: left;
    width: 33.333%;
    background: #3075f3;
/*    border: 1px solid #01c42b;*/
box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

.block-25 a {
    text-decoration: none;
}

.h_3 {
    color: #fff;
    font-size: 16px;
}

.footer-ul {
    padding: 40px;
}

footer {
    border-top: 1px solid #333;
    margin: 150px 0px 80px 0px;
    /* padding-top: 40px; */
}

footer h2 {
    font-size: 20px;
    margin: 30px 0 ;
}

.copyright {
    text-align: center;
    font-size: 14px;
    margin: 50px 0 10px 0;
    font-weight: 300;
}

.uor {
    text-decoration: underline;
    color: #1f4390;
}

.uor:hover {
    text-decoration: underline;
    color: #3075f3;
}
___________________________________

